@tailwind base;
@tailwind components;
@tailwind utilities;

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

/* Global Container */
.homepage-container {
  @apply container mx-auto max-w-screen-xl px-6 md:px-10;
}

/* Links */
.products-link {
  @apply inline-block px-4 py-2 text-white font-bold rounded bg-blue-700 transition-colors hover:bg-blue-800 sm:text-lg;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

/* Star Products */
.star-products-link,
.small-banner-link {
  @apply inline-block transition-all duration-[400ms] hover:shadow-xl hover:scale-[1.01];
}

.star-products-text,
.small-banner-text {
  @apply mb-4 text-xl text-gray-700 text-center;
}

.star-products-text {
  @apply lg:mb-8 lg:text-left;
}

/* Media Queries */

/* Move Dot */
@media (min-width: 518px) {
  .move-dot-mt {
    @apply mt-[420px];
  }
}

@media (min-width: 540px) {
  .move-dot-mt {
    @apply mt-[450px];
  }
}

@media (min-width: 570px) {
  .move-dot-mt {
    @apply mt-[490px];
  }
}

@media (min-width: 620px) {
  .move-dot-mt {
    @apply mt-[530px];
  }
}

@media (min-width: 665px) {
  .move-dot-mt {
    @apply mt-[570px];
  }
}

@media (min-width: 710px) {
  .move-dot-mt {
    @apply mt-[610px];
  }
}

@media (min-width: 760px) {
  .move-dot-mt {
    @apply mt-[630px];
  }
}
