@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-100;
}

/* HOMEPAGE */
/* Global Container */
.homepage-container {
  @apply container mx-auto max-w-screen-xl px-6 md:px-10;
}

/* Links */
.products-link {
  @apply inline-block px-4 py-2 text-white font-bold rounded bg-blue-700 transition-colors hover:bg-blue-800 sm:text-lg;
}

/* Star Products */
.star-products-link,
.small-banner-link {
  @apply inline-block transition-all duration-[400ms] hover:shadow-xl hover:scale-[1.01];
}

.star-products-text,
.small-banner-text {
  @apply mb-4 text-xl text-gray-700 text-center;
}

.star-products-text {
  @apply lg:mb-8 lg:text-left;
}

/* Social Media */
.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

/* Media Queries */
/* Move Dot */
@media (min-width: 518px) {
  .move-dot-mt {
    @apply mt-[420px];
  }
}

@media (min-width: 540px) {
  .move-dot-mt {
    @apply mt-[450px];
  }
}

@media (min-width: 570px) {
  .move-dot-mt {
    @apply mt-[490px];
  }
}

@media (min-width: 620px) {
  .move-dot-mt {
    @apply mt-[530px];
  }
}

@media (min-width: 665px) {
  .move-dot-mt {
    @apply mt-[570px];
  }
}

@media (min-width: 710px) {
  .move-dot-mt {
    @apply mt-[610px];
  }
}

@media (min-width: 760px) {
  .move-dot-mt {
    @apply mt-[630px];
  }
}

@media (min-width: 1024px) {
  body {
    overflow-y: visible !important;
  }
}

/* PRODUCTS PAGE */
/* Pagination */
.page-link-btn {
  @apply flex items-center justify-center w-8 h-8 border rounded-full transition-colors hover:bg-blue-700 active:bg-blue-700;
}

.page-link {
  @apply flex items-center justify-center w-6 h-6 rounded-full transition-colors hover:bg-blue-700 hover:text-white active:bg-blue-700 active:text-white;
}

/* SKELETON FRAMEWORK */
.skeleton {
  @apply my-3 bg-[#ddd] rounded;
}

.skeleton.image {
  @apply w-44 h-48;
}

.skeleton.tag {
  @apply w-1/2 h-7;
}

.skeleton.text {
  @apply w-full h-3 -mt-1;
}

.skeleton.title {
  @apply w-1/2 h-5;
}

.skeleton.price {
  @apply w-1/2 h-5;
}

.skeleton.btn {
  @apply w-full h-8;
}

/* Shimmer Animation */
@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
